<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :names, label: "Nombre(s)" %>
    <%= f.input :surnames, label: "Apellido(s)" %>
    <%= f.input :identifier, label: "Cédula" %>
    <%= f.input :telephone, label: "Teléfono" %>
    <%= f.input :salary, label: "Salario" %>
    <%= f.label "Fecha de Contratación" %>
    <%= f.input :admission, label: false %>
    <%= f.label "Fecha de Despido" %>
    <%= f.input :departure, label: false %>
    <%= f.input :position_id, collection: Position.all.map{ |p| [p.name, p.id]}, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "right success" %>
  </div>
<% end %>
